<h1>Welcome, <%= current_user.username %>!</h1>

<h1>Favorite Gifs</h1>
<% @gifs.each do |gif| %>
  <img src=<%= gif.image_path %>>
  <p><%= gif.category %></p>
  <%= link_to 'Unfavorite', favorite_path(gif), method: 'delete' %>
<% end %>

<%= link_to 'Log Out', logout_path, method: :delete %>
