<h1>Welcome, <%= current_user.username %>!</h1>

<h1>Favorite Gifs</h1>
<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <% category.user_favorites(current_user).each do |favorite| %>
    <img src=<%= favorite.gif.image_path %>>
    <%= link_to 'Unfavorite', favorite_path(favorite), method: 'delete' %>
  <% end %>
<% end %>

<%= link_to 'Log Out', logout_path, method: :delete %>
