<!DOCTYPE html>
<html>
  <head>
    <title>GifGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="content">
      <% if current_user.nil? %>
        <%= render partial: 'layouts/navbar-welcome' %>
      <% elsif current_user.admin? %>
        <%= render partial: 'layouts/navbar-admin' %>
      <% else %>
        <%= render partial: 'layouts/navbar-user' %>
      <% end %>

      <p class="flash"><%= flash.notice %></p>
    <%= yield %>
    </div>
    <footer class="navbar-bottom">
      <%= image_tag 'Giphy_Logo.gif' %>
    </footer>
  </body>
</html>
