<!DOCTYPE html>
<html>
  <head>
    <title>GifGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="user-nav">
      <header>
        <h1>GifGenerator</h1>
      </header>
      <nav class="nav-links">
        <%= link_to 'Favorite Gifs', user_path(current_user) %>
        <%= link_to 'All Gifs', gifs_path %>
        <%= link_to 'Log Out', log_out_path %>
      </nav>
    </nav>
    <%= yield %>
  </body>
</html>
