<!DOCTYPE html>
<html>
  <head>
    <title>GifGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar-welcome' %>
    <section class="jumbotron">
      <h1>GifGenerator</h1>
    </section>
    <main>

    <%= yield %>
  </main>
  </body>
</html>
