<!DOCTYPE html>
<html>
  <head>
    <title>GifGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <header>
        <h1>GifGenerator</h1>
      </header>
      <section class="navbar navbar-nav navbar-right">
        <%= render partial: 'sessions/new' %>
      </section>
    </nav>
    <div class="jumbotron">
      <h1>GifGenerator</h1>
    </div>
    <main>

    <%= yield %>
  </main>
  </body>
</html>
